<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/assets/favicon/ufo.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
        {% if site.title and site.title != page.title %}
        <div class="logo"><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></div>
        {% endif %}
        
        <p>Ever nuked prod at 2 AM and discovered the docs never warned you? Perfect—that’s how you learn, fast.</p>
        
        <p>This isn’t a portfolio. It’s my digital scratchpad—a dumping ground for notes on what I’ve read and watched, half-baked ideas, hard-won lessons, and the occasional technical rant.</p>

        <p>A few things to live by when building systems:</p>

        <ul>
            <li><strong>Keep it simple.</strong> (Complexity always sneaks in—fight it.)</li>
            <li><strong>Break things, learn from it.</strong> (Mistakes are the tuition. Iterate. Improve.)</li>
            <li><strong>Progress over perfection.</strong> (Shipping > sitting. Small wins add up.)</li>
            <li><strong>Share your work.</strong> (Even if it’s mostly for future-you.)</li>
        </ul>

        <p>Curious? Call me out in the comments, drop a question, or just say hi—especially if you want to talk backend.</p>

        <h2 class="">Latest Posts</h2>
        <ul class="">
        {% for post in site.posts limit:10 %}
        <li class="">
            <span class="">[{{ post.date | date_to_string: "ordinal", "US" }}]</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        </ul>

        {% if site.github.private != true and site.github.license %}
        <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        </div>
        {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
