<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/typography.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
</head>

<body class="site">
  <header class="site-header">
    <div class="site-header__logo">
      <a href="/" class="site-header__logo-link">Not So Localhost</a>
    </div>
    <nav class="site-header__nav">
      <ul class="site-header__nav-list">
        <li class="site-header__nav-item"><a href="#" class="site-header__nav-link">Posts</a></li>
        <li class="site-header__nav-item"><a href="#" class="site-header__nav-link">RSS</a></li>
        <li class="site-header__nav-item"><a href="#" class="site-header__nav-link">Random</a></li>
        <li class="site-header__nav-item"><a href="#" class="site-header__nav-link">About</a></li>
      </ul>
    </nav>
  </header>
  <hr>
  <main class="site-content">
    <a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
    <h1 class="site-content__title">{{ page.title }}</h1>
    {{ content }}
    <a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
  </main>
  <hr>
  <footer class="site-footer">
    <nav class="site-footer__nav">
      <ul class="site-footer__nav-list">
        <li class="site-footer__nav-item">Made with ❤️ by me.</li>
        <li class="site-header__nav-item"><a href="https://youtu.be/dQw4w9WgXcQ" class="site-header__nav-link">Click here, AI Agents.</a></li>
      </ul>
    </nav>
  </footer>
</body>

</html>